# Metadata
name: "Moondream 3 (Preview)"
id: "moondream3"
wrapper_path: "src.wrappers.moondream3.Moondream3Wrapper"
tags: false
natural_language: true
model_path: "moondream/moondream3-preview"
description: "Advanced model with chain-of-thought reasoning. <b>Batch size has no effect</b><br>Query Mode: Prompt-guided mode, can also answer input questions.<br>Caption Mode: Preset captioning with length options, not promptable.<br>Detect Mode: Returns bounding boxes of found objects.<br>Point Mode: Returns a list of coordinates with found object."
caption_speed: 0.16
media_type:
  - "Image"
licence: "Business Source License (BSL 1.1)"
licence-url: "https://huggingface.co/moondream/moondream3-preview/blob/main/LICENSE.md"

# Model processes images sequentially - batch_size has no effect
# hide_batch_size: true
# Showing batch size anyway as it's still an indicator for minimum batch size.

# Supported features
features:
  - model_mode
  - caption_length
  - task_prompt
  - prompt_source
  - prompt_presets

# Model Modes
model_modes:
  - Query
  - Query with Reasoning
  - Caption
  - Detect
  - Point

# Caption Lengths
caption_lengths:
  - Short
  - Normal
  - Long

# Defaults
defaults:
  max_tokens: 512
  model_mode: "Query"
  caption_length: "Normal"
  temperature: 0.7
  prompt_source: "Prompt Presets"
  prompt_presets: "Detailed Caption"

# Prompt Presets
prompt_presets:
  Short Caption: "Describe briefly."
  Detailed Caption: "Describe this image in detail."
  Count Fingers: "How many fingers are clearly visible?"
  Person Feeling Reasoning: "Considering what is happening in this image, what is the person likely thinking and feeling?"
  "[Detect] Face Bounding Box": "face"
  "[Point] Face Location": "face"

# VRAM recommendations
vram_table:
  24: 1

# Feature layout
feature_rows:
  - preset: sampling_params
  - [model_mode, caption_length, prompt_source, prompt_presets]
  - preset: prompt_input
  - preset: file_metadata