# Metadata
name: "Paligemma LongPrompt"
id: "paligemma_longprompt"
wrapper_path: "src.wrappers.paligemma_longprompt.PaligemmaLongPromptWrapper"
tags: false
natural_language: true
model_path: "mnemic/paligemma-longprompt-v1-safetensors"
description: "Finetune of Paligemma that outputs tags first and then natural language as part of the same output. Has a tendency to hallucinate in longer outputs."
model_id: "mnemic/paligemma-longprompt-v1-safetensors"
media_type: "Image"
caption_speed: 2
licence: "Gemma"
licence-url: "https://ai.google.dev/gemma/terms"

# Supported features
features:
  - temperature
  - top_k
  - repetition_penalty
  - task_prompt
  - prompt_presets
  - prompt_source
  - prompt_prefix
  - prompt_suffix
  - prompt_file_extension
  - strip_contents_inside
  - max_word_length

# Defaults
defaults:
  max_tokens: 512
  temperature: 0.7
  top_k: 50
  repetition_penalty: 1.15
  prompt_source: "Prompt Presets"

prompt_presets:
  "English Caption": "caption en"
  "Detailed": "describe in detail."
  "Detect": "detect"

# VRAM recommendations
vram_table:
  8: 1
  12: 96
  16: 164
  24: 352
  32: 512

# Feature layout
feature_rows:
  - preset: sampling_params
  - [strip_contents_inside, max_word_length]
  - preset: prompt_control
  - preset: prompt_input
  - preset: file_metadata
